version: '3'

services:
    venv:
        build:
            context: .
            dockerfile: Dockerfile.venv
            args:
                pipenv_dev_arg: ${PIPENV_DEV_ARG}
                python_base_image_tag: ${PYTHON_BASE_IMAGE_TAG}
        image: libero/content-store_venv:${IMAGE_TAG}
    app:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                image_tag: ${IMAGE_TAG}
                python_base_image_tag: ${PYTHON_BASE_IMAGE_TAG}
        image: libero/content-store:${IMAGE_TAG}
        # TODO: check what to use for uwsgi
        stop_signal: SIGINT
        volumes:
            - ./.docker/uwsgi.ini:/app/uwsgi.ini
        ports:
            - 5000:80
        depends_on:
            - venv
